.container-sadbeep{
    margin: auto;
    width: 500px;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
   
}


@media (max-width: 600px) {
    .container-sadbeep {
        width: 250px;
    }
    .container-sadbeep img{
        width: 250px;
    }
  }